/MTOMDemoClient.org/build/
/MTOMDemoClient.org/dist/
/MTOMDemoClient.org/nbproject/private/
/MTOMDemoServer.org/build/
/MTOMDemoServer.org/dist/
/MTOMDemoServer.org/nbproject/private/
/MTOMDemoServer/target/
/MTOMDemoClient/target/